.divider {
	border-style: solid;
	border-color: #BDBDBD;
	margin: 2px;
	border-width: 1px;
	width: 100%;
}

#header {
	height: fit-content;
}

#xhordes {
	padding-left: 10px;
}

.menabled, .mdisabled {
	width: 73px;
}

#modlist {
	border-left-color: --info;
}

.mnspan {
	width: 205px;
	text-align: right;
}

.title {

}

body {
	width: 325px;
}